@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #C56E5B;
  --color-secondary: #EBD5B3;
  --color-green-accent: #4C6B58; /* the keyword 'accent' is a reserved keyword in tailwind so I had to change the name for the accent color*/
  --color-neutral-light: #F9F6F1;
  --color-neutral-dark: #333333;
  --color-highlight: #D7B377;

  /* Font Families */
  --font-family-heading: 'Playfair Display', serif;
  --font-family-body: 'Poppins', sans-serif;
  --font-family-accent: 'Montserrat', sans-serif;

  /* Font Sizes */
  --font-size-h1: 48px;
  --font-size-h2: 32px;
  --font-size-body: 18px;
}

:root {
  --background: #F9F6F1;
  --foreground: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-body);
}